{% extends 'indexC.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% for i in data1 %}
            
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                      <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="{{i.img.url}}"
                             alt="User profile picture">
                      </div>
            
                      <h3 class="profile-username text-center">{{i.Fname}}</h3>
            
                      <p class="text-muted text-center">{{i.Last}}</p>
            
                      <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                          <b>Relationsip</b> <a class="float-right">{{i.Relationsip}}</a>
                        </li>
                        <li class="list-group-item">
                          <b>Location</b> <a class="float-right">{{i.location}}</a>
                        </li>
                        <li class="list-group-item">
                          <b>Gender</b> <a class="float-right">{{i.gender}}</a>
                        </li>
                        <li class="list-group-item">
                          <b>Address</b> <a class="float-right">{{i.adrs}}</a>
                        </li>
                        <li class="list-group-item">
                          <b>Phone Number</b> <a class="float-right">{{i.number}}</a>
                        </li>
                      </ul>
            
                      <a href="{% url 'Cedit'  eid=i.id %}" class="btn btn-primary btn-block"><b>Edit Profile</b></a>
                      <a href="{% url 'Cdelete'  did=i.id %}" class="btn btn-primary btn-block"><b>Clear Account</b></a>
                    </div>
                    <!-- /.card-body -->
                  </div>

           
            {% endfor %} 
            
        </div>
    </div>
</div>

     


{% endblock %}
